@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }
  .skill {
    @apply border-4 border-black rounded-full bg-white px-4 py-2 shadow-100
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  .black_container {
    @apply w-full bg-black min-h-[580px] pattern flex justify-center items-center flex-col py-10 px-6 max-md:h-screen;
  }

  .section-heading {
    @apply text-[30px] font-semibold w-1/2 bg-black text-white rounded-tr-full text-center rounded-br-full py-4 mt-12
  }

  .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  }

  .heading {
    @apply uppercase bg-white px-6 py-3 font-work-sans font-extrabold text-black sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /* idea details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  /* navbar */
  .nav-list {
    @apply max-md:bg-white max-md:top-0 max-md:inline-block max-md:absolute max-md:w-1/2 max-md:h-screen max-md:text-center max-md:pt-16 max-md:space-y-8 max-md:z-40 flex gap-4
  }
  .nav-link {
    @apply font-bold text-[18px] text-black uppercase
  }

  /* startupcard */
  .project-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }

  .project-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .project-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .project-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .project-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3 !important;
  }

  /* projectform */
  .contact-form {
    @apply max-w-2xl flex flex-col mx-auto bg-white my-10 space-y-8 px-6;
  }

  .contact-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .contact-form_input {
    @apply border-[3px] border-black px-5 py-4 text-[18px] text-black font-semibold rounded-full outline-none mt-3 placeholder:text-black !important;
  }

  .contact-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] outline-none  mt-3 placeholder:text-black-300 !important;
  }

  .contact-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .contact-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full p-3 min-h-[70px] w-full font-bold text-[18px] !important;
  }

  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(214, 243, 48, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 7% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}
